
    #input{
        border-radius: 30px;
        width: 900px;
        height: auto;
        background-color: darksalmon;
    

    }
    hr{
        border: 1px solid black;
    }
    body{
        background-color: darkcyan;
    }
    


    
   
